<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>About Us | Tienda Madre</title>
        <meta name="keywords" content="Ecologico, Protectores, Toallitas, Tienda, Madre, Conciente, Cuidado Personal, Higiene">
        <meta name="description" content="Encontra toda la informacion de nuestro proyecto, conocenos mas de cerca.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../images/img/pruebados.png">

        <link rel="stylesheet" href="../Assets/css/style.css">
    </head>
    <body>

        <section class="header-top-section">
            <div class="container">
                <div class="row">
                    <div  class="col-md-6">
                        <div class="header-top-content">
                           <ul class="nav nav-pills navbar-left">
                                <li><a href="#"><i class="fa fa-whatsapp"></i> <span>123-123456789</span></a></li>
                                <li><a href="#"><i class="pe-7s-mail"></i><span> info@tiendamadre.com.ar</span></a></li>
                            </ul> 
                        </div>
                    </div>
                    <div  class="col-md-6">
                        <div class="header-top-menu">
                            <ul class="nav nav-pills navbar-right">
                                <li><a href="#"><i class="pe-7s-note2"></i> Wishlist</a></li>
                                <li><a href="#"><i class="pe-7s-cart"></i> Cart</a></li>
                                <li><a href="#"><i class="pe-7s-link"></i> Checkout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <header class="header-section">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <img src="../images/img/logo.png" alt="logo 2" width="70" height="70" class="wow fadeIn">
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="../index.html"><span><img src="../images/img/TiendaMadreLOG4.png"/></span>Home</a></li>
                            <li class="active"><a href="Aboutus.html"><span><img src="../images/img/TiendaMadreLOG4.png"/></span>About Us</a></li>
                            <li><a href="Productos.html"><span><img src="../images/img/TiendaMadreLOG4.png"/></span>Productos</a></li>
                            <li><a href="Newsletter.html"><span><img src="../images/img/TiendaMadreLOG4.png"/></span>Newsletter</a></li>
                            <li ><a href="Contacto.html"><span><img src="../images/img/TiendaMadreLOG4.png"/></span>Contacto</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right cart-menu">
                        <li><a href="#" class="search-btn wow fadeIn"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="Margen1 search-btn wow fadeIn">Buscar</a></li>
                    </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section class="news-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="titie-section wow fadeInDown animated ">
                            <h1>Nuestra Marca</h1>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-4 wow fadeInDown animated" data-wow-delay="0.2s">
                        <div class="blog-item">
                            <a href="#"><img src="../images/img/imgTM4.jpg" width="350" height="262" alt="imagen 4"></a>
                            <h3>Somos la unica marca argentina de toallitas ecologicas con patentes. </h3>
                            <p>Para asegurarte que nuestros productos son originales y de máximo standard. Porque usamos los insumos nacionales e importados de mejor calidad y porque trabajamos para darte la mejor experiencia posible. Por eso acordate, cuando pienses en dar el cambio de hábito, que Tienda Madre es sinonimo de CALIDAD.</p>
                            <a href="https://www.instagram.com/p/CI1fxPmDvOs/">Conocer Mas</a>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeInDown animated" data-wow-delay="0.4s">
                        <div class="blog-item">
                            <a href="#"><img src="../images/img/imgBN.jpg" width="350" height="262" alt=""></a>
                            <h3>Comprando en Tienda Madre tambien contribuis con el cuidado de los bosques.</h3>
                            <p>Con cada compra te ofrecemos la posibilidad de realizar una modica donacion que ayuda a la preservación del bosque Nagal en Colombia. Para vos, Para los arboles del bosque, para sus animales y para la ecologia del planeta... ¡tu compra es un aporte increíble!</p>
                            <a href="https://www.instagram.com/bosquenagal/">Conocer Mas</a>

                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeInDown animated" data-wow-delay="0.6s">
                        <div class="blog-item">
                            <a href="#"><img src="../images/img/Packaging.jpg" width="350" height="262" alt=""></a>
                            <h3>Primer packagin de toallitas y protectores ecológicos de Argentina </h3>
                            <p>Packaging producido bajo las normas de etiquetado comercial, con el instructivo en su cara posterior. Compostable y ecologico como todo en nuestra marca, con tus toallitas esperándote, al mismo precio de siempre.     </p>
                            <a href="https://www.instagram.com/p/CJFEezmj5vn/">Conocer Mas</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="search-section">
            <div class="container">
                <div class="row subscribe-from">
                    <div class="col-md-12">
                        <form class="form-inline col-md-12 wow fadeInDown animated">
                            <div class="form-group">
                                <input type="email" class="form-control subscribe" id="email" placeholder="Search...">
                                <button class="suscribe-btn btn-color" ><i class="pe-7s-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="review-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="titie-section wow fadeInDown animated ">
                            <h1>customer review</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="feedback" class="carousel slide feedback" data-ride="feedback">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="../images/img/comprador1.jpg" width="320" height="439" alt="">
                                <div class="carousel-caption">
                                    <p>Maravillosos productos, solo para quienes en serio quieran hacer un cambio de habitos. Tanto las toallitas como los protectores muy bien hechos y amigables con el ambiente, chau descartables!</p>
                                    <h3>-Laura-</h3>
                                    <span>Tres de Febrero, Buenos Aires</span>
                                </div>
                            </div>
                            <div class="item">
                                <img src="../images/img/comprador2.jpg" width="320" height="439" alt="">
                                <div class="carousel-caption">
                                    <p>Queria contarles que ya probe las toallitas y los protectores, son un sueño! Dudaba mucho al principio, pero la verdad no tengo nada que decir. Las he usado hasta de noche. Super Recomendables!</p>
                                    <h3>- Paola -</h3>
                                    <span>San Nicolas, Capital Federal</span>
                                </div>
                            </div>
                            <div class="item">
                                <img src="../images/img/comprador3.png" width="320" height="439" alt="">
                                <div class="carousel-caption">
                                    <p>Quede encantada con los protectores, son finos, suaves, no te das cuenta que los llevas puesto, deja que la piel respire. son confortables, es armonia la palabra que los describe, un cambio total y necesario.  </p>
                                    <h3>- Nicole -</h3>
                                    <span> Vicente Lopez, Buenos Aires</span>
                                </div>
                            </div>
                        </div>
                        <ol class="carousel-indicators review-controlar">
                            <li data-target="#feedback" data-slide-to="0" class="active">
                                <img src="../images/img/comprador1.jpg" width="320" height="439" alt="">
                            </li>
                            <li data-target="#feedback" data-slide-to="1">
                                <img src="../images/img/comprador2.jpg" width="320" height="439" alt="">
                            </li>
                            <li data-target="#feedback" data-slide-to="2">
                                <img src="../images/img/comprador3.png" width="320" height="439" alt="">
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="center">Buenos Aires, Argentina <i class="fa fa-registered"></i>  All Rights Reserved</p>
                        
                    </div>
                </div>
            </div>
        </footer>
        <script src="../js/vendor/jquery-1.11.2.min.js"></script>
        <script src="../js/vendor/bootstrap.min.js"></script>
        <script src="../js/isotope.pkgd.min.js"></script>
        <script src="../js/owl.carousel.min.js"></script>
        <script src="../js/wow.min.js"></script>
        <script src="../js/custom.js"></script>
    </body>