<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Contacto | Tienda Madre</title>
        <meta name="keywords" content="Ecologico, Protectores, Toallitas, Tienda, Madre, Conciente, Cuidado Personal, Higiene">
        <meta name="description" content="dejanos tus dudas que con gusto las responderemos y te acompañaremos a afrontar este cambio tan emocionante!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../images/img/pruebados.png">

        <link rel="stylesheet" href="../Assets/css/style.css">
    </head>
    <body>

        <section class="header-top-section">
            <div class="container">
                <div class="row">
                    <div  class="col-md-6">
                        <div class="header-top-content">
                           <ul class="nav nav-pills navbar-left">
                                <li><a href="#"><i class="fa fa-whatsapp"></i> <span>123-123456789</span></a></li>
                                <li><a href="#"><i class="pe-7s-mail"></i><span> info@tiendamadre.com.ar</span></a></li>
                            </ul> 
                        </div>
                    </div>
                    <div  class="col-md-6">
                        <div class="header-top-menu">
                            <ul class="nav nav-pills navbar-right">
                                <li><a href="#"><i class="pe-7s-note2"></i> Wishlist</a></li>
                                <li><a href="#"><i class="pe-7s-cart"></i> Cart</a></li>
                                <li><a href="#"><i class="pe-7s-link"></i> Checkout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <header class="header-section">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <img src="../images/img/logo.png" alt="logo 2" width="70" height="70" class="wow fadeIn">
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="../index.html"><span><img src="../images/img/TiendaMadreLOG4.png"/></span>Home</a></li>
                            <li><a href="Aboutus.html"><span><img src="../images/img/TiendaMadreLOG4.png"/></span>About Us</a></li>
                            <li><a href="Productos.html"><span><img src="../images/img/TiendaMadreLOG4.png"/></span>Productos</a></li>
                            <li><a href="Newsletter.html"><span><img src="../images/img/TiendaMadreLOG4.png"/></span>Newsletter</a></li>
                            <li class="active"><a href="Contacto.html"><span><img src="../images/img/TiendaMadreLOG4.png"/></span>Contacto</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right cart-menu">
                        <li><a href="#" class="search-btn"><i class="fa fa-search wow fadeIn" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="Margen1 search-btn wow fadeIn">Buscar</a></li>
                    </ul>
                    </div>
                </div>
            </nav>
        </header>

        <section class="search-section">
            <div class="container">
                <div class="row subscribe-from">
                    <div class="col-md-12">
                        <form class="form-inline col-md-12 wow fadeInDown animated">
                            <div class="form-group">
                                <input type="email" class="form-control subscribe" id="email" placeholder="Search...">
                                <button class="suscribe-btn btn-color" ><i class="pe-7s-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="titie-section wow fadeInDown animated ">
                            <h1>CONTACTATE!</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 wow fadeInLeft animated">
                        <div class="left-content">
                            <h1><span>T</span>ienda <span>M</span>adre</h1>
                            <h3>Despeja tus dudas y animate al cambio</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel nulla sapien. Class aptent tacitiaptent taciti sociosqu ad lit himenaeos. Suspendisse massa urna, luctus ut vestibulum necs et, vulputate quis urna. Donec at commodo erat.</p>
                            <div class="contact-info">
                                <p><b>Telefono:</b> 555.555.5555</p>
                                <p><b>Email:</b> info@tiendamadre.com.ar</p>
                            </div>
                            <div class="social-media">
                                <ul>
                                    <li><a href="https://www.facebook.com/tiendamadreco"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="../index.html"><i class="fa fa-chrome"></i></a></li>
                                    <li><a href="https://www.instagram.com/tiendamadre/"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInRight animated">
                        <form action="" method="" class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="name" placeholder="Nombre">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="name" class="form-control" id="lastname" placeholder="Apellido">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="name" placeholder="Asunto">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="email" class="form-control" id="email" placeholder="Correo Electronico">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <textarea name="" id="" class="form-control" cols="30" rows="5" placeholder="Tu Mensaje..."></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input type="submit" class="contact-submit" value="Enviar" />
                                        <input type="reset" class="contact-submit" value="Limpiar"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="center">Buenos Aires, Argentina <i class="fa fa-registered"></i>  All Rights Reserved</p>
                        
                    </div>
                </div>
            </div>
        </footer>
        <script src="../js/vendor/jquery-1.11.2.min.js"></script>
        <script src="../js/vendor/bootstrap.min.js"></script>
        <script src="../js/isotope.pkgd.min.js"></script>
        <script src="../js/owl.carousel.min.js"></script>
        <script src="../js/wow.min.js"></script>
        <script src="../js/custom.js"></script>
    </body>